<div class="container px-5 px-sm-0">
  <div class="row">
   <%= render'users/list', user:@user, book:@book %>

    <div class="col-md-8 offset-md-1">
      <h2>Book detail</h2>
      <table class="table">
       <tbody>
         <tr>
          <td>
           <%= link_to user_path(@book2.id) do %>
            <% if @book2.user.profile_image.attached? %>
              <%= image_tag book.user.get_profile_image(100,100) %>
            <% else %>
              <%= image_tag'no_image.jpg' %>
            <% end %>
           <% end %>
          <br><%= @book2.user.name %></td>
          <td><%= @book2.title %></td>
          <td><%= @book2.body %></td>
          <td><%= link_to"Edit", edit_book_path(@book2.id), class:'btn btn-sm btn-success' %></td>
          <td><%= link_to"Destroy", book_path(@book2.id), method: :delete, "data-confirm" => "本当に消しますか？", class:'btn btn-sm btn-danger' %></td>
         </tr>
        <!--%= paginate books % -->
       </tbody>
      </table>
    </div>
  </div>
</div>
